$white-1: #fff;
$white-2: #EAECEF;
$black-1: #000000;
$auth-background: #181A20;
$btn-action-color-1: #FCD535; 
$border-color-1: #2B3139;
$main-color: #03aac7;
$menu-hover: rgb(151, 252, 228);
$main-background: rgb(15, 26, 31);
$btn-color-1: #2B3139;
$red-sell: #F6465D;
$green-buy: #0ECB81;
$section-border: .6px solid rgba($white-1, .1);
$section-padding: 2.3rem;